h1 {
    font-family: 'pacifico';
    margin-top:5%;
    font-size: clamp(1.5rem, 4.5vw, 5rem)
}

h4 {
    font-size: clamp(0.6rem, 1.5vw, 1.7rem)

}

h5 {
    font-size: clamp(1.3rem, 2.5vw, 2.7rem)

}

body {
    color: #393737;
}


/* introduction */
#introduction-section {
    background-color: #C7EEFF;
    width: 100%;
    padding-bottom: 12%;

}

.cloud-img {
    width: 13%;
    margin-left: 5%;
}

.cloud-img2 {
    left: 80%;
    width: 13%;
    margin-top: 3%;
}

.hill-img {
    width: 40%;
    padding-top: 17%;
    /* position: absolute;
    left: 0; */
}
.introduction-text {
    text-align: center;
}

@media screen and (max-width: 500px) {
    #introduction-section {
        width: 100%;
        padding-bottom: 18%;
        
    }

    .hill-img {
        width: 40%;
        padding-top: 27%;
        /* position: absolute;
        left: 0; */
    }

    .cloud-img {
        width: 23%;
        position: relative;
        left: 0%;
    }

    .cloud-img2 {
        left: 75%;
        width: 23%;
    }
}

/* interactive-section */

#interactive-section {
    padding-top: 10%;
    padding-bottom: 15%;
    position: relative;
    background-color: #F1FCFD;
    height: 100%;
    
}

.weather-display {
    margin: 0 28%;
}

.temp {
    text-align: center;
}

.tempIcon {
    padding: 0;
    width:70%;
}

.TempNum {
    
    font-size: clamp(3rem, 4.5vw, 5rem);
    
}

form {
    padding: 0 10% 0 33%;
}

@media screen and (max-width: 500px) {
    .weather-display {

        margin: 0 1%;
    }

    .tempIcon {
        padding: 0;
        width:100%;
    }
    
    form {
        padding: 0 0% 0 3%;
    }
    
}
